#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  padding-bottom: 10px;
  padding-right: 5px;
}

.footer {
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 5px;
  align-content: center;
}

.nav-link {
  color: red
}

.profile-image img {
    justify-content: left;
    border-radius: 50%;
    width: 60%;
    float:left;
    margin: 10px;
}

main {
  padding-top: 5em;
  padding-bottom: 5em;
}

.form input, textarea, button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form input {
  width: 200px;
}