#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*.card {
  padding: 2em;
}*/

.top-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  padding-bottom: 10px;
  padding-right: 5px;
}

.footer {
  position: relative;
  margin-top: -150px;
  clear: both;
  padding-top: 20px;
  height: 50px
}

.nav-link {
  color: red
}

.profile-image img {
    justify-content: left;
    border-radius: 50%;
    width: 60%;
    float:left;
    margin: 10px;
}

main {
  padding-top: 5em;
  padding-bottom: 100px;
}

.form input, textarea, button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form input {
  width: 200px;
}

.project-card {
  width 30%;
  margin: 20px;
}

.container-fluid {
  max-width: 1200px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

body{
  padding-bottom: 70px;
}